



<div class="alert alert-dismissible alert-secondary">
  <a>Добро пожаловать!Это главная страница магазина зоотоваров "Четыре лапы и хвост" 🐕 🐈 🐠 🐰 🦁. Пожалуйста, выберите нужную базу данных ниже</a>.
</div>



<style>
  .center {
    text-align: center;
  }
</style>
&nbsp;
<div class="center">
  <div class="alert alert-dismissible alert-danger">
    <h2>
   <a href="/products_list" class="alert-link"> База товаров</a> </h2>  &nbsp;
      <button type="button" class="btn btn-success"routerLink="/addp" >Добавить новый товар</button>
  </div>

  <div class="alert alert-dismissible alert-info">
    <h2>
      <a href="/warehouses_list" class="alert-link">  База складов</a> </h2>  &nbsp;
    <button type="button" class="btn btn-success"routerLink="/add" >Добавить новый склад</button>
  </div>

  <div class="alert alert-dismissible alert-warning">
    <h2>
      <a href="/providers_list" class="alert-link"> База поставщиков</a> </h2>  &nbsp;
    <button type="button" class="btn btn-success"routerLink="/addm" >Добавить нового поставщика</button>
  </div>
</div>
