
<ol  class="breadcrumb">
  <li class="breadcrumb-item"><a href="/menu">Меню</a></li>
  <li class="breadcrumb-item active">Список складов</li>
</ol>


<h3 align="center" > Список складов</h3>
&nbsp;
<style>
  .center {
    text-align: center;
  }
</style>
<div class = "center">
<button  type="button" class="btn btn-success"  routerLink="/add">добавить склад</button>
</div>
<h3 align="center" >👆👆👆</h3>

&nbsp;
<style>
   table {
    width: 800px; /* Ширина таблицы */
    border: 5px solid  Gainsboro; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>

<table class="table table-dark">
<thead>
  <tr>
    <th scope="col" >ID</th>
    <th scope="col" >Адрес</th>
    <th scope="col" >Самовывоз</th>
    <th scope="col" >Телефон</th>
    <th scope="col" ></th>
    <th scope="col" ></th>
    <th scope="col" ></th>

  </tr>
</thead>
<tbody>
<tr *ngFor="let warehouse of warehouses; index as i">
    <td>{{warehouse.id}}</td>
    <td>{{warehouse.address}}</td>
    <td>{{warehouse.pickup}}</td>
    <td>{{warehouse.phone}}</td>

  <td>
      <button type="button" class="btn btn-info" routerLink="/show/{{warehouse.id}}">Просмотр</button>   </td>
  <td>
    <button type="button" class="btn btn-warning" routerLink="/edit/{{warehouse.id}}">Редакт.</button>   </td>

  <td>
    <button type="button" class="btn btn-danger" (click)="delete(warehouse)">X</button>  </td>
  </tr>
</tbody>
</table>



